@keyframes appearPart {
    0% {
        transform: translateX(-25px);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
    }
}

.part1,
.part2,
.part3 {
    animation: appearPart 1s ease-in-out forwards;
    opacity: 0;
}

.part1 {
    animation-delay: 0.2s;
}

.part2 {
    animation-delay: 0.7s;
}

.part3 {
    animation-delay: 1.2s;
}
